<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My_Sync.MySync" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MySync.MySync" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="My_Sync.Properties.Settings.mySyncConnectionString"
      connectionString="data source=&quot;mySync.db&quot;"
      providerName="System.Data.SQLite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <My_Sync.MySync>
      <setting name="logPath" serializeAs="String">
        <value>D:\Studium\MSC - Softwareentwicklung\3. Semester\Master Projekt\Projekt\Code\Log</value>
      </setting>
      <setting name="logState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="usedLanguage" serializeAs="String">
        <value>de-AT</value>
      </setting>
      <setting name="mainFolder" serializeAs="String">
        <value>MySync</value>
      </setting>
      <setting name="runAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="addToFavorites" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fastSync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="synchronizationInterval" serializeAs="String">
        <value>90</value>
      </setting>
    </My_Sync.MySync>
    <MySync.MySync>
      <setting name="logPath" serializeAs="String">
        <value>D:\Studium\MSC - Softwareentwicklung\3. Semester\Master Projekt\Projekt\Code\Log</value>
      </setting>
      <setting name="logState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="usedLanguage" serializeAs="String">
        <value>de-AT</value>
      </setting>
    </MySync.MySync>
  </userSettings>
  <system.data>
    <!--
        NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.
    -->
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.94.0" newVersion="1.0.94.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>